---
import SiteLayout from "../layouts/SiteLayout.astro"
import ProjectCard from "../components/ProjectCard.astro";
---

<SiteLayout pageTitle="projects">
    <p>Highlights of my personal and class projects.</p>
	<div class="project_cards">
        <ProjectCard projectName="Reviewdle: A Guessing Game for Local Reviews"/>
        <ProjectCard projectName="Median Household Income Based on Educational Attainment in Wisconsin"/>
        <ProjectCard projectName="Transit Access in Minneapolis"/>
        <ProjectCard projectName="Smart Marketing: Machine Learning"/>
    </div>
</SiteLayout>