html {
    background-color: #faf9f9;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
}

body {
    margin: 0 auto;
    width: 100%;
    max-width: 100ch;
    padding: 0;
    line-height: 1.5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

* {
    box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

header {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 32px;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 8px;
    margin-right: 8px;
}

/* nav styles */

:has(.menu[aria-expanded="true"]) .nav-links {
  display: unset;
}

.nav-links {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0;
}

a {
  display: block;
  /* text-align: center; */
  padding: 0px 0;
  text-decoration: none;
  /* font-size: 1.2rem; */
  /* font-weight: bold; */
  color: #000000;
}

a:hover,
a:focus { 
  text-decoration: underline;
}

.project_cards {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card {
  display: flex;
  justify-content: start;
  gap: 8px;
}

.about {
  display: inline;
  text-decoration: underline;
}

.project-card-link {
  display: inline;
}

@media screen and (min-width: 677px) {
    body {
        display: flex;
        flex-direction: row;
    }

    header {
        flex: 1;
    }
}